:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin-left: 1rem;
  min-height: 100%;
  background-color: darkolivegreen;
  color: lightgreen;
}

h1 {
  color: yellowgreen;
}

ul {
  list-style: none;
}

li {
  color: lightgray;
  margin-bottom: 0.25rem;
}

button {
  height: 2rem;
  width: 10rem;
  background-color: darkred;
  color: white;
}
